.bg {
  background-color: rgb(105, 105, 105);
  text-align: center;
}

.prata {
  color: rgb(169, 168, 168);
}

.bronze {
  color: brown;
}

.ouro {
  color: goldenrod;
}

.platina {
  color: snow;
}
